<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MCONTROL_OEE.My.MySettings.oViewerConnectionString"
            connectionString="Data Source=DESKTOP-OJ1V6KK\OMNISERVER;Initial Catalog=oViewer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MCONTROL_OEE.My.MySettings.oViewerConnectionString1"
            connectionString="Data Source=172.16.22.37,1433;Initial Catalog=oViewer;Persist Security Info=True;User ID=sa;Password=@llexo2017A"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>